* {
    box-sizing: border-box;
}

body {
    background-color:rgb(56, 56, 56);
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color:aquamarine;
    padding: 10px;
    height:500px;

    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

    justify-content: center;
    align-items:center;
    align-content: center;

    gap:10px;
}

.item {
    background-color:bisque;
    color:black;
    padding:10px;
    border:1px solid;
    width:200px;
}